.dashboardContainer {
    padding: 20px;
}

.buttonContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-right: 10px;
    margin-top: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(255, 89, 0);
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

.button:hover {
    background-color: white;
    color: rgb(255, 89, 0);
    border: 1px solid rgb(255, 89, 0);
}

.content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}